<a href="https://colab.research.google.com/github/2joaopedro/2joaopedro/blob/main/ListaTuplas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ex1**

In [2]:
# Crie uma tupla com o nome de 4 países e imprima na tela o terceiro país da tupla.

countries = ('Brazil','United States','Canada','Australia')
print(countries[2])

Canada

# **Ex2**

In [ ]:
# Crie uma tupla com 3 valores inteiros e calcule a média dos valores. Em seguida, imprima a média na tela.

integerValues = (10,8,6)
calculateTheAverage = sum(integerValues) / len(integerValues)
print(calculateTheAverage)

# **Ex3**

In [5]:
# Crie duas tuplas com 5 elementos cada e verefique se elas têm o mesmo tamanho.

tuplaOne = (1,2,3,4,5)
tuplaTwo = ("A", "B", "C", "D", "E")

if(len(tuplaOne) == len(tuplaTwo)):
  print("As duas tuplas tem o mesmo tamanho.")
else:
  print("As duas tuplas têm tamanhos diferentes.")

As duas tuplas tem o mesmo tamanho.

# **Ex4**

In [8]:
# Crie uma tupla com nome de 5 animais e crie uma nova tupla com os mesmos animais, mas em ordem reversa. Em seguida, imprima a nava tupla na tela.

Animals = ("Dog", "Cat", "Bird", "Cuelho", "Turtle")
NewAnimals = tuple(reversed(Animals * 1))
print(NewAnimals)

('Turtle', 'Cuelho', 'Bird', 'Cat', 'Dog')

# **Ex5**

In [9]:
# Crie uma tupla com 3 valores inteiros e imprima na tela o menor valor da tupla.

integerValues = (5,3,1,2)
lowerValue = min(integerValues)
print(lowerValue)

1

# **Ex6**

In [13]:
# Crie uma tupla com o nome de 4 disciplinas escolares e adicione uma nova disciplina à tupla. Em seguida, imprima a nova tupa na tela.

schoolSubjects = ("Physical", "Mathematics", "Geography", "History")
newSubjects = schoolSubjects + ("Chemical",)
print(newSubjects)

('Physical', 'Mathematics', 'Geography', 'History', 'Chemical')

# **Ex7**

In [15]:
# Crie uma tupla com os valores 1, 2, 3, 4, 5 e verefique se o valor 6 está na tupla.

values = (1, 2, 3, 4, 5)
if 6 in values:
  print("O valor 6 está presente na tupla")
else:
  print("O valor 6 não está presente na tupla")

O valor 6 não está presente na tupla

# **Ex8**

In [18]:
# Crie uma tupla com o nome de 3 cidades e imprima na tela apenas as cidades que começam com a letra "S".

cities = ("São Paulo", "Rio de Janeiro", "Salvador")
for cities in cities:
    if cities.startswith("S"):
        print(cities)

São Paulo
Salvador

# **Ex9**

In [19]:
# Crie uma tupla com os valores 3, 6, 9 e 12 e divida cada valor por 3. Em seguida, imprima a nova tuplana tela.

tupla = (3, 6, 9, 12)
newTupla = tuple(value/3 for value in tupla)
print(newTupla)

(1.0, 2.0, 3.0, 4.0)

# **Ex10**

In [ ]:
# Crie uma tupla com o nome de 5 frutas e remova a fruta "abacaxi" da tupla. Em seguida, imprima a nova tupla na tela.

fruits = ('banana', 'maçã', 'abacaxi', 'laranja', 'uva')
newFruits = tuple(f for f in fruits if f != 'abacaxi')
print(newFruits)